<template>
  <v-list-item :key="`${todo.title}`">
    <v-list-item-action>
      <v-checkbox
        v-model="todo.done"
        @change="change"
        :color="(todo.done && 'grey') || 'primary'"
      >
        <template v-slot:label>
          <div
            :class="(todo.done && 'grey--text') || 'primary--text'"
            class="ml-4"
            v-text="todo.title"
          ></div>
        </template>
      </v-checkbox>
    </v-list-item-action>

    <v-spacer></v-spacer>

    <v-scroll-x-transition>
      <v-icon v-if="todo.done" color="success">
        mdi-check
      </v-icon>
    </v-scroll-x-transition>
  </v-list-item>
</template>

<script>
export default {
  name: "TodoItem",
  props: {
    todo: {
      type: Object,
      required: true
    }
  },
  methods: {
    change() {
      this.$store.dispatch("changeTodo", { ...this.todo });
    }
  }
};
</script>

<style scoped></style>
