<template>
  <v-container>
    <v-text-field
      v-model="newTodo"
      label="Write here for add todo item."
      solo
      @keydown.enter="create"
    >
      <template v-slot:append>
        <v-fade-transition>
          <v-icon v-if="newTodo" @click="create">
            mdi-plus-circle
          </v-icon>
        </v-fade-transition>
      </template>
    </v-text-field>

    <v-text-field
      v-model="search"
      label="Write here for filter todo items."
      solo
    >
    </v-text-field>

    <h2 class="display-1 success--text pl-4">
      Total Todo items count:&nbsp;
      <v-fade-transition leave-absolute>
        <span :key="`todos-${todoItems.length}`">
          {{ todoItems.length }}
        </span>
      </v-fade-transition>
    </h2>

    <v-divider class="mt-4"></v-divider>

    <v-row class="my-1" align="center">
      <strong class="mx-4 info--text text--darken-2">
        Remaining: {{ remainingTodos }}
      </strong>

      <v-divider vertical></v-divider>

      <strong class="mx-4 success--text text--darken-2">
        Completed: {{ completedTodos }}
      </strong>

      <v-spacer></v-spacer>

      <v-progress-circular :value="progress" class="mr-2"></v-progress-circular>
    </v-row>

    <v-divider class="mb-4"></v-divider>

    <v-card v-if="todoItems.length > 0">
      <v-slide-y-transition class="py-0" group>
        <template v-for="(todo, i) in todoItems">
          <v-divider v-if="i !== 0" :key="`${i}-divider`"></v-divider>
          <todo-item :key="i" :todo="todo" />
        </template>
      </v-slide-y-transition>
    </v-card>
  </v-container>
</template>

<script>
import TodoItem from "./TodoItem";
import { mapState } from "vuex";
export default {
  name: "TodoList",
  components: { TodoItem },
  data: () => ({
    newTodo: null,
    search: ""
  }),

  computed: {
    ...mapState({
      todos: state => state.todoList
    }),
    todoItems() {
      if (this.search) {
        return this.todos.filter(todo => todo.title.includes(this.search));
      } else {
        return this.todos;
      }
    },
    completedTodos() {
      return this.todoItems.filter(todo => todo.done).length;
    },
    progress() {
      return (this.completedTodos / this.todos.length) * 100;
    },
    remainingTodos() {
      return this.todoItems.length - this.completedTodos;
    }
  },

  methods: {
    create() {
      this.$store.dispatch("addToTodoList", {
        done: false,
        title: this.newTodo
      });

      this.newTodo = null;
    },
    filter() {}
  }
};
</script>
