<template>
  <v-app>
    <v-main>
      <todo-list />
    </v-main>
  </v-app>
</template>

<script>
import TodoList from "./components/TodoList";

export default {
  name: "App",

  components: {
    TodoList
  },
  mounted() {
    this.$store.dispatch("getTodoList");
  }
};
</script>
